export(
   "gbarplot",
   "gbxp",
   "gboxplot",
   "gmatplot",
   "gpie",
   "gstars",
   "gsymbols" #,
#   "gridnodes" moved to gcExplorer
   )

#exportMethods(
#   "symbolplot"  moved to gcExplorer
#   )
